@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:"Lato",sans-serif;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.background{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0, 0, 0, 0.705), rgba(0, 0, 0, 0.705)), url(zac-wolff-WRgFsiqqGIg-unsplash.jpg);
    background-size:cover;
    background-position:center;
}
.navbar{
    width:85%;
    margin:auto;
    padding:35px 0;
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.logo{
    color:white;
    font-size:40px;
    font-family:"Lato", sans-serif;
    text-decoration:none;
}
.navbar ul li{
    list-style:none;    
    display:inline-block;
    margin:0 20px;
}
.navbar ul li a{
    color:rgba(255, 255, 255, 0.932);
    text-decoration:none;
    text-transform:uppercase;
    font-size:14px;
}
.content{
    width:100%;
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-transform:uppercase;
    color:white;
}
.header{
    font-size:60px;
    font-family:"Lato", sans-serif;
    line-height:1.5;
    font-weight:700;
}
.description{
    padding:0 100px;
    line-height:1.2;
    font-family:"Lato", sans-serif;
    font-size:20px;
}
.second-line{
    padding:0 150px;
    line-height:2.0;
}
button{
    width:200px;
    text-align:center;
    padding:15px 0;
    margin:20px 10px;
    border-radius:25px;
    color:white;
    background:transparent;
    border:2px solid #009688;
    cursor:pointer;
}


.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}